

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 8px;
    text-align: center;
}

.green
{
    background-color: greenyellow;
}

.negrita
{
    font-weight: bold;
    font-size: large;

}

.cabecera
{
    background-color: green;
}

.columna
{
    background-color: greenyellow;
}

.x
{
    background-color: aqua;
}